<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoanManager"
        tools:targetApi="31">
        <activity
            android:name=".activities.AddLoanActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PayDayRemindersActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoanHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PendingLoansActivity"
            android:exported="false" />
        <activity
            android:name=".activities.InstallmentManagementActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoanManagementActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UploadProfilePictureActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DeleteAccountActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>